body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .flip-card {
      background-color: transparent;
      width: 300px;
      height: 300px;
      perspective: 1000px;
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      background-color: #bbb;
      color: black;
    }
    
    .flip-card-back {
      background-color: #2980b9;
      color: white;
      transform: rotateY(180deg);
    }
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: auto;
      text-align: center;
    }
    
    .title {
      color: grey;
      font-size: 18px;
    }
    
    button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
    
    button:hover, a:hover {
      opacity: 0.7;
    }

    /* add the style to flip box */
    .flip-box {
      background-color: transparent;
      width: 300px;
      height: 200px;
      border: 1px solid #f1f1f1;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }
    
    /* This container is needed to position the front and back side */
    .flip-box-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    
    /* Do an horizontal flip when you move the mouse over the flip box container */
    .flip-box:hover .flip-box-inner {
      transform: rotateY(180deg);
    }
    
    /* Position the front and back side */
    .flip-box-front, .flip-box-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    
    /* Style the front side */
    .flip-box-front {
      background-color: #bbb;
      color: black;
    }
    
    /* Style the back side */
    .flip-box-back {
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
    }
    .flip-box:hover .flip-box-inner {
      transform: rotateX(180deg);
    }
    
    .flip-box-back {
      transform: rotateX(180deg);
    }


    * {
      box-sizing: border-box;
    }
    
    body {
      background-color: #f1f1f1;
      padding: 20px;
      font-family: Arial;
    }
    
    /* Center website */
    .main {
      max-width: 1000px;
      margin: auto;
    }
    
    h1 {
      font-size: 50px;
      word-break: break-all;
    }
    
    .row {
      margin: 8px -16px;
    }
    
    /* Add padding BETWEEN each column (if you want) */
    .row,
    .row > .column {
      padding: 8px;
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
      float: left;
      width: 33.33%;
      display: none; /* Hide columns by default */
    }
    
    /* Clear floats after rows */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Content */
    .content {
      background-color: white;
      padding: 10px;
    }
    
    /* The "show" class is added to the filtered elements */
    .show {
      display: block;
    }
    
    /* Style the buttons */
    .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: white;
      cursor: pointer;
    }
    
    /* Add a grey background color on mouse-over */
    .btn:hover {
      background-color: #ddd;
    }
    
    /* Add a dark background color to the active button */
    .btn.active {
      background-color: #666;
       color: white;
    }